:root {
    --blue: #1e90ff;
    --white: #ffffff;
}

body {
    background-color: rgb(141, 142, 145);
    margin: 0% 2%;
}


/* General Header Styling */
header {
    background: linear-gradient(135deg, #b7b0be, #575b61);
    margin: 0 auto;
    padding: 20px 0;
    width: 95%; 
    border-radius: 15px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.title img {
    margin-left: 20px;
    height: 70px;
    width: auto;
    transition: transform 0.3s ease-in-out;
}

.title img:hover {
    transform: rotate(15deg); 
}

.nav-links {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 30px; 
    font-weight: 600;
    transition: all 0.4s ease; 
    background: rgba(255, 255, 255, 0.2); 
}

.TextZwart {
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-links a.active,
.nav-links a:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #8f96a3;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    font-weight: bold;
}

/* Login Link */
.login-link {
    text-align: right;
}

.login-link a {
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: #8f96a3;
    transition: all 0.4s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
}

.login-link a.active,
.login-link a:hover {
    background-color: #afa7b7; 
    color: white;
    transform: scale(1.1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}



































































































/* lessen pagina */
.lessen-Website{
    display: flex;
    border:solid; color: pink;
    margin-left: 15%;
    width: 70%;
}






































/* reizen pagina */































































/* overig pagina */
.ButtonsMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(64, 44, 84);
    width: 100%;
    height: 200px;
}
.ButtonsMedia2 {
    display: flex;
    justify-content: center;
    width: 25%;
    height: 100px;
    gap: 10px;
}
.i {
    width: 50px;
    height: 50px;
}












































/* overig pagina */

